<p id="notice"><%= notice %></p>
  <section id="banner" class="clearfix">
    <div id="banner_content_wrapper">
      <div id="poster">
        <img src="<%= @movie.image %>" alt="Deadpool Movie Poster" class="featured_image">
        <img src="../images/play_button.png" alt="Play Trailer" class="play_button">
      </div>
      <div id="content">
        <h2 class="title"><%= @movie.title %></h2>
        <div class="ratings">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star inactive"></i>
        </div>

        <p class="description"><%= @movie.plot %></p>

        <p class="info"><%= @movie.release_year %></p>

        
      </div>
    </div>
  </section>

  <section id="top_movies" class="container clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Casting :</h2>
        <p class="view_more"><a href="#">Voir tous les acteurs</a></p>
      </header>
<div class="row clearfix">
      <% @actors.each do |actor| %>
        <div class="post">
          <%= image_tag actor.image %>
          <h3 class="title"><%= actor.first_name + " " + actor.last_name %></h3>
          <p class="post_info"><%= actor.bio %></p>
          <p class="post_info"><%= link_to "Learn more", actor_path(actor) %></p>
          <p class="post_info"><%= link_to 'Show', actor %> | <%= link_to 'Edit', edit_actor_path(actor) %> | <%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
       </div>
    </div>
  </section>


