<p id="notice"><%= notice %></p>
  <section id="top_movies" class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Films Ajoutés</h2>
        <p class="view_more">Voir Tous</p>
      </header>

      <div class="row clearfix">
      <% @films.each do |film| %>
        <div class="post">
          <img src="images/movies/the-martian.jpg" alt="image <%= film.titre %>">
          <h3 class="title"><%= film.titre %></h3>
          <p class="post_info"><%= film.date_sortie %> | <%= film.origine %> | <%= film.note %></p>
          <p class="post_info"><%= link_to 'Show', film %> | <%= link_to 'Edit', edit_film_path(film) %> | <%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
       </div>
    </div>
  </section>

<section id="top_shows" class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Popular Shows</h2>
        <p class="view_more">View All Shows</p>
      </header>

      <div class="row">
        <div class="post">
          <img src="images/tv_shows/walking-dead.jpg" alt="The Walking Dead">
          <h3 class="title">The Walking Dead</h3>
          <p class="post_info">PG13 | Season 4</p>
        </div>

        <div class="post">
          <img src="images/tv_shows/game-of-thrones.jpg" alt="Game Of Thrones">
          <h3 class="title">Game Of Thrones</h3>
          <p class="post_info">PG13 | Season 6</p>
        </div>

        <div class="post">
          <img src="images/tv_shows/breaking-bad.jpg" alt="Breaking Bad">
          <h3 class="title">Breaking Bad</h3>
          <p class="post_info">PG13 | Season 5</p>
        </div>

        <div class="post">
          <img src="images/tv_shows/empire.jpg" alt="Empire">
          <h3 class="title">Empire</h3>
          <p class="post_info">PG13 | Season 2</p>
        </div>

        <div class="post">
          <img src="images/tv_shows/master-of-none.jpg" alt="Master of None">
          <h3 class="title">Master of None</h3>
          <p class="post_info">PG13 | Season 1</p>
        </div>

        <div class="post">
          <img src="images/tv_shows/mr-robot.jpg" alt="Mr Robot">
          <h3 class="title">Mr Robot</h3>
          <p class="post_info">PG13 | Season 1</p>
        </div>
      </div>

    </div>
  </section>
<section id="top_movies" class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Acteurs :</h2>
        <p class="view_more">Voir Tous</p>
      </header>

      <div class="row clearfix">
      <% @actors.each do |actor| %>
        <div class="post">
          <%= image_tag actor.image %>
          <h3 class="title"><%= actor.first_name + " " + actor.last_name %></h3>
          <p class="post_info"><%= link_to "Learn more", actor_path(actor) %></p>
          <p class="post_info"><%= link_to 'Show', actor %> | <%= link_to 'Edit', edit_actor_path(actor) %> | <%= link_to 'Destroy', actor, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
       </div>
    </div>
  </section>

<section id="top_movies" class="clearfix">
    <div class="wrapper">
      <header class="clearfix">
        <h2>Actualités :</h2>
        <p class="view_more">Voir Tous</p>
      </header>

      <div class="row clearfix">
      <% @articles.each do |article| %>
        <div class="post">
          <h3 class="title"><%= article.titre %></h3>
          <p class="post_info"><%= link_to "Learn more", article_path(article) %></p>
          <p class="post_info"><%= link_to 'Show', article %> | <%= link_to 'Edit', edit_article_path(article) %> | <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
        <% end %>
       </div>
    </div>
  </section>
  
<br>

